div{
	border: solid;
	margin: 10px;
	/*display: flex;*/
	clear: both;
}


.container{
	width: 1300px;
}
#oneName{
	width: 100vw;
	height: 100vh;
	background-image: url("http://freedesignfile.com/upload/2014/05/Concept-dark-blue-technical-vector-background-03.jpg");
	color: white;
	align-items: center;
	display: flex;
	padding-left: 625px;
}

#name{
	flex-direction: right;
	
}


#twoProfile{
	width: 30%;
	height:40%;
	float: left;
	background-color: blue;
	color: white;
	font-weight: bold;

}

#threeSkills{
	width: 60%;
	height: 40%;
	float: right; 
	background-color: blue;
	color: white;
	font-weight: bold;


}

#fourEducation{
	width: 30%;
	height:40%;
	float: left;
	color: blue;


}

#fiveLanguages{
	width: 60%;
	height: 40%;
	float: right;
	color: blue;

}

#sixContact{
	width: 30%;
	height:40%;
	float: left;
	background-color: blue;
	color: white;
	font-weight: bold;

}

#sevenExperience{
	width: 60%;
	height: 40%;
	float: right;
	color: blue;

}

#footer{

}




