body{
	font-size: 18px;
	font-style: Calibre;
	font-weight: bold;
}
div{
	margin: 10px;
	clear: both;
}


.container{
	background-image: url("http://freedesignfile.com/upload/2014/05/Concept-dark-blue-technical-vector-background-03.jpg");
	background-attachment: fixed;
}
#oneName{
	width: 100vw;
	color: white;
	text-align: center;
	margin: auto;
	padding-top: 150px;
	
}
.profileImg{
	border-radius: 50%; 
	cursor: pointer;
}

#name{
	font-weight: bolder;
	font-size: 40px;
}

#two{
	background-color: blue;
	width: 100%;
	height: auto;
	border: solid;
	border-color: white; 
	
	
}
#twoProfile{
	width: 50%;
	height:300px;
	float: left;
	background-color: rgba(20, 98, 194, 0.55);
	color: white;
	font-weight: bold;

}

#threeSkills{
	width: 50%;
	height: auto;
	float: right; 
	background-color: rgba(255, 255, 255, 0.52);
	color: rgb(0, 52, 255);
	font-weight: bold;
}

#threeSKills ul {
 display: inline-block; 
}

#fourEducation{
	width: 50%;
	height:300px;
	float: right;
	background-color: rgba(255, 255, 255, 0.52);
	color: rgb(0, 52, 255);

}


#sixContact{
	width: 100%;
	height:auto;
	color: white;
	text-align: center;
}

#sevenExperience{
	width: 50%;
	height: 300px;
	float: left;
	background-color: rgba(20, 98, 194, 0.55);
	color: white;

}

.img-with-text {
    text-align: justify;
    width: 250px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}
h1{
	padding-left: 30px;
	text-decoration: underline;

}


#footer{

}






