div{
	margin: 10px;
	/*display: flex;*/
	clear: both;
}


.container{
	background-image: url("http://freedesignfile.com/upload/2014/05/Concept-dark-blue-technical-vector-background-03.jpg");
	background-attachment: fixed;
}
#oneName{
	width: 100vw;
	height: 100vh;
	color: white;
	text-align: center;
	margin: auto;
	padding-top: 150px;
	
}
.profileImg{
	border-radius: 50%; 
	cursor: pointer;
}
/*.profileImg {
    position: relative;
    float: center;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
  }

.profileImg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.profileImg:hover:before {
  background: none;
}*/

#name{
	font-weight: bolder;
	font-size: 40px;
}


#twoProfile{
	width: 30%;
	height:40%;
	float: left;
	background-color: blue;
	color: white;
	font-weight: bold;

}

#threeSkills{
	width: 60%;
	height: 40%;
	float: right; 
	background-color: blue;
	color: white;
	font-weight: bold;


}

#fourEducation{
	width: 30%;
	height:40%;
	float: left;
	color: blue;


}

#fiveLanguages{
	width: 60%;
	height: 40%;
	float: right;
	color: blue;

}

#sixContact{
	width: 30%;
	height:40%;
	float: left;
	background-color: blue;
	color: white;
	font-weight: bold;

}

#sevenExperience{
	width: 60%;
	height: 40%;
	float: right;
	color: blue;

}

.img-with-text {
    text-align: justify;
    width: 250px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

#footer{

}




